{{#partial "content"}}

    <body>
    <br>
    <br>
    <div class="jumbotron" style="background-color: #1E212D; color:white;">
        <strong><p>"Thank you! For reporting on the endangered animal"</p></strong>
        <a class="btn btn-warning" href="/Endangered">Check Endangered Animal</a>
    </div>
    </body>

{{/partial}}


{{> layout.hbs}}