{{#partial "content"}}

    <body>
    <br>
    <br>
    <div class="jumbotron" style="background-color: #1E212D; color:yellow;">
        <strong><p>"Thank you! Your sighting report has been successfully Received"</p></strong>
        <a class="btn btn-warning" href="/Sightings">Check Sighting</a>
    </div>
    </body>

{{/partial}}


{{> layout.hbs}}