{{#partial "title"}}
    <h4>Add an animal to Jungle World</h4>
{{/partial}}

{{#partial "content"}}
    <body style="background-image: url('images/jungle.jpg'); background-size:cover; background-repeat:no-repeat;">
    <form action="/addAnimal" method="post">

        <div class="form-group">
            <label for="name">Name of the animal:{{name}}</label>
            <input id="name" name="name" class="form-control" type="text" required>
        </div>
<!--        <div class="form-group">-->
<!--            <label for="name">Type:{{type}}</label>-->
<!--            <input id="type" name="type" class="form-control" type="text" required>-->
<!--        </div>-->

        <button class="btn btn-success" href="/SuccessAnimal" type="submit"> Submit</button>
    </form>


    <!--    <a class="btn btn-warning" href="/addAnimal">Add Animal</a>-->
    </body>

{{/partial}}


{{> layout.hbs}}