{{#partial "content"}}
    <body style="background-image: url('images/pic14.jpg'); background-size:cover; background-repeat:no-repeat;">
    <br>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                {{#each Animals}}
                    <h4>Name of the animal: {{animalName}}</h4>

                {{/each}}
            </div>

        </div>

    </div>





    </body>

{{/partial}}
{{> layout.hbs}}